body { 
	background: url(../images/bg.jpg) #02090e no-repeat center top; 
}

.container-fluid{
  padding: 0 15px;
/** Bootstrap customization */

.navbar-default  { 
	text-transform: uppercase;
}

/* MODULES */

/* CLOCK MODULE */

.clockDiv {
	font-size: x-large;
	text-shadow: 0 0 10px #12a7ff, 0 0 10px #12a7ff;
}

/* LOGIN MODULE */

#login-form  {
	font-size: smaller;
}

#login-form .btn-primary {
	color: #fff;
	background-color: #0c1319;
	border-color: #243847;	
}

#login-form .form-control {
	border-color: #243847;	
}

#login-form ul {
	padding: 0px;
}
#login-form li {
	display: inline-block;
}

#login-form li+li:before {
	content: "|";
	padding: 0 5px;
	color: #b1e2ff;
}

#login-form a {
	color: #b1e2ff;
}